.input {
  background-color: #dfdfdf;
  margin-left: 10px;
  height: 20px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgb(77, 77, 77);
}
.input:focus {
  color: rgb(243, 243, 243);
  background-color: #212121;
  outline-color: rgb(77, 77, 77);
  box-shadow: -3px -3px 15px rgb(63, 65, 65);
  transition: 0.1s;
  transition-property: box-shadow;
}

@media screen and (max-width: 768px) {
  .input {
    width: 110%;
  }
}
